.header{
    background-image: linear-gradient(to right, #42275a ,#734b6d);
    padding: 5em 6em;
    color: white;
}

.pane-header{
    padding-bottom: 1em;
}

.content{
    /*padding: 2em 15em;*/
}

.glink{
    padding-top: 2em;
}
