.header{
    background-image: linear-gradient(to right, #42275a ,#734b6d);
    padding: 5em 6em;
    color: white;
}

.pane-header{
    padding-bottom: 1em;
}

.content{
    font-size: 1.1rem;
    /*padding: 2em 15em;*/
}


.glink{
    padding-top: 2em;
}

.row{
    margin-right: 0px;
}
pre{
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f6f8fa;
    border-radius: 3px;
    margin-bottom: 0px;
}
.row-padding .row{
    padding-bottom: 16px;
}
.inline{
    display: inline-flex !important;
}
code{
    padding: 0.2em 0.4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,0.05);
    border-radius: 3px;
}